@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Roboto-Regular";
}

body {
    background: linear-gradient(to top, #811032 0%, #330867 100%)
}




*::-webkit-scrollbar {
    height: 12px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: var(--color--five);
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

*::-webkit-scrollbar-thumb {

    border: 1px solid var(--color--five);
    background-color: var(--color--one--rgba);
}

.header__title {
    /* background: red; */
    color: var(--color--five);
    height: 10vh;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.load{
    background: linear-gradient(120deg, #ffffff0e 30%, #ffffff23 38%, #f0f0f032 40%, #e5e5e50c 40%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 2s infinite;
    width: 100%;
    margin: 12px 0;
    height: 100px;
}
@keyframes load{
    100%{
        background-position: -100% 0;
    }
}
.main {
    /* background: orange; */
    height: 90vh;
    display: grid;
    grid-template-columns: 1.5fr 6fr 2fr;
    grid-template-areas: "nav__1 main nav__2";
}

.nav__description {
    /* background: red; */
    grid-area: nav__1;
}

.description__item {
    /* background: blue; */
    overflow-y: auto;
    height: 75vh;
}

.description__buttom {
    /* background: #00ff84; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

.description__container {
    /* background: violet; */
    display: flex;
    gap: 10px;
    margin: 0 var(--layout-description-container-x);
    margin-bottom: 25px;
}

.description__container div:last-child h3 {
    color: var(--color--five);
}

.description__container div:last-child small,
.description__container div:last-child a {
    margin-top: 25px;
    color: var(--color--two);
    text-decoration: none;
}

.main__section {
    /* background: green; */
    grid-area: main;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2.3fr 5fr 1fr;
    grid-template-areas:
        "section__header"
        "section__main"
        "section__footer";
}

.section__information__1 {
    /* background: red; */
    grid-area: section__header;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    justify-content: space-evenly;
}

.section__information__1>.carousel__item {
    /* flex: 1; */
    min-width: 24%;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  */
.item__progress__bar {
    color: var(--color--five);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(
        closest-side, 
        #1d1f38 85%, 
        transparent 85% 100%), 
        conic-gradient(var(--color--three) 
        80%, 
        transparent 0);  
    transform: rotate(180deg); 
  }
.progress__value{
    display: flex;
    flex-direction: column;
    transform: rotate(180deg); 
}
/*  */
.section__information__container {
    /* background: #d9ff00; */
    grid-area: section__main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "colum__1 colum__2 colum__3";
}

.section__information__2 {
    /* background: blue; */
    grid-area: colum__1;
    display: grid;
    grid-template-rows: 1fr 1.3fr;
    grid-template-areas:
        "carusel__colum__1"
        "table__colum__1";
}

.section__information__2 div:first-child {
    /* background: #d9ff00; */
    grid-area: carusel__colum__1;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    justify-content: space-evenly;
}

.section__information__2 div:first-child>.carousel__item {
    /* flex: 1; */
    min-width: 48%;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.information__table__1 {
    width: 85%;
    margin: 10px auto;
    /* background: darkblue; */
    grid-area: table__colum__1;
}
.information__table__1 h3{
    text-transform: uppercase;
    padding: 0 25px;
    margin-bottom: 5px;
    color: var(--color--two);
}
.information__table__1 hr{
    margin: 0 auto;
    width: 90%;
    border-color: var(--color--two);
}
.table__container__1{
    /* background: orange; */
    height: 160px;
    overflow-y: auto;
    padding: 0 25px;
}
.table__container__1 div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between !important;
}
.table__container__1 div span{
    color: var(--color--two);
}
.table__container__1 div strong{
    color: var(--color--five);
}
.section__image {
    /* background: orange; */
    grid-area: colum__2;
    display: flex;
    overflow-x: auto;
    align-items: center;
}

.section__image>.carousel__item {
    /* background: violet; */
    text-align: center;
    margin: 0 10px;

}

.section__image>.carousel__item img {
    width: 300px;
    height: 190px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 0px 10px var(--color--one);
}

.section__information__3 {
    /* background: violet; */
    grid-area: colum__3;
    display: grid;
    grid-template-rows: 1fr 1.3fr;
    grid-template-areas:
        "carusel__colum__2"
        "table__colum__2";
}

.section__information__3 div:first-child {
    /* background: #d9ff00; */
    grid-area: carusel__colum__2;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    justify-content: space-evenly;
}

.section__information__3 div:first-child>.carousel__item {
    /* flex: 1; */
    min-width: 48%;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.information__table__2 {
    width: 85%;
    margin: 10px auto;
    /* background: darkblue; */
    grid-area: table__colum__2;
}
.information__table__2 h3{
    text-transform: uppercase;
    padding: 0 25px;
    margin-bottom: 5px;
    color: var(--color--two);
}
.information__table__2 hr{
    margin: 0 auto;
    width: 90%;
    border-color: var(--color--two);
}
.table__container__2{
    /* background: orange; */
    height: 160px;
    overflow-y: auto;
    padding: 0 25px;
}
.table__container__2 div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between !important;
}
.table__container__2 div span{
    color: var(--color--two);
}
.table__container__2 div strong{
    color: var(--color--five);
}


.footer {
    background: rgb(18, 23, 31);
    grid-area: section__footer;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: ". footer__menu .";

}

.footer ul {
    grid-area: footer__menu;
    /* background: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.nav__information {
    /* background: red; */
    grid-area: nav__2;
}

.information__item {
    /* background: violet; */
    overflow-y: auto;
    height: 75vh;
}

.information__buttom {
    /* background: #00ff84; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

.buttom__paginacion {
    display: inline-block;
}

.buttom__paginacion a {
    color: var(--color--five);
    text-decoration: none;
    float: left;
    padding: 8px 16px;
}

.buttom__paginacion a.activo {
    background-color: var(--color--one);
    color: var(--color--five);
}

.buttom__paginacion a:hover:not(.activo) {
    background-color: var(--color--one--rgba);
}

.information__container {
    /* background: blue; */
    display: flex;
    gap: 5px;
    align-content: center;
    margin: 0 var(--layout-description-container-x);
    margin-bottom: 20px;
}

.information__container div:first-child {
    width: 60%;
    color: var(--color--five);
}

.information__container div:first-child progress {
    width: 100%;
}

.information__container div:last-child {
    /* background: red; */
    color: var(--color--two);
    width: 40%;
    display: flex;
    align-items: flex-end;
}

progress[value] {
    --color: var(--color--three);
    --background: var(--color--one--rgb);
    background: var(--background);
}


progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    /* margin: 0 10px; */
    height: .5em;
    border-radius: 10em;
}

progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    height: .5em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}








/* Zona animacion del astronaura */


@keyframes snow {
    0% {
      opacity: 0;
      transform: translateY(0px);
    }
  
    20% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
      transform: translateY(650px);
    }
  }
  
  @keyframes astronaut {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .box-of-star1,
  .box-of-star2,
  .box-of-star3,
  .box-of-star4 {
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    transform: translateY(0px);
    height: 100px;
    margin-top: -200px;
    margin-left: -550px;
  }
  
  .box-of-star1 {
    animation: snow 5s linear infinite;
  }
  
  .box-of-star2 {
    animation: snow 5s -1.64s linear infinite;
  }
  
  .box-of-star3 {
    animation: snow 5s -2.30s linear infinite;
  }
  
  .box-of-star4 {
    animation: snow 5s -3.30s linear infinite;
  }
  
  .star {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    opacity: 0.7;
  }
  
  .star:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 70px;
    opacity: .7;
  }
  
  .star:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 170px;
    opacity: .9;
  }
  
  .star-position1 {
    top: 30px;
    left: 20px;
  }
  
  .star-position2 {
    top: 110px;
    left: 250px;
  }
  
  .star-position3 {
    top: 60px;
    left: 570px;
  }
  
  .star-position4 {
    top: 120px;
    left: 900px;
  }
  
  .star-position5 {
    top: 20px;
    left: 1120px;
  }
  
  .star-position6 {
    top: 90px;
    left: 1280px;
  }
  
  .star-position7 {
    top: 30px;
    left: 1480px;
  }
  
  .astronaut {
    width: 250px;
    height: 300px;
    position: absolute;
    z-index: 11;
    top: calc(50% - 150px);
    left: calc(50% - 125px);
    animation: astronaut 5s linear infinite;
    margin-top: -200px;
    margin-left: -1px;
  }
  
  .schoolbag {
    width: 100px;
    height: 150px;
    position: absolute;
    z-index: 1;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    background-color: #94b7ca;
    border-radius: 50px 50px 0 0 / 30px 30px 0 0;
  }
  
  .head {
    width: 97px;
    height: 80px;
    position: absolute;
    z-index: 3;
    background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
    border-radius: 50%;
    top: 34px;
    left: calc(50% - 47.5px);
  }
  
  .head:after {
    content: "";
    width: 60px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 30px);
    background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
    border-radius: 15px;
  }
  
  .head:before {
    content: "";
    width: 12px;
    height: 25px;
    position: absolute;
    top: calc(50% - 12.5px);
    left: -4px;
    background-color: #618095;
    border-radius: 5px;
    box-shadow: 92px 0px 0px #618095;
  }
  
  .body {
    width: 85px;
    height: 100px;
    position: absolute;
    z-index: 2;
    background-color: #fffbff;
    border-radius: 40px / 20px;
    top: 105px;
    left: calc(50% - 41px);
    background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  }
  
  .panel {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: calc(50% - 30px);
    background-color: #b7cceb;
  }
  
  .panel:before {
    content: "";
    width: 30px;
    height: 5px;
    position: absolute;
    top: 9px;
    left: 7px;
    background-color: #fbfdfa;
    box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
  }
  
  .panel:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 9px;
    right: 7px;
    background-color: #fbfdfa;
    border-radius: 50%;
    box-shadow: 0px 14px 0px 2px #fbfdfa;
  }
  
  .arm {
    width: 80px;
    height: 30px;
    position: absolute;
    top: 121px;
    z-index: 2;
  }
  
  .arm-left {
    left: 30px;
    background-color: #e3e8eb;
    border-radius: 0 0 0 39px;
  }
  
  .arm-right {
    right: 30px;
    background-color: #fbfdfa;
    border-radius: 0 0 39px 0;
  }
  
  .arm-left:before,
  .arm-right:before {
    content: "";
    width: 30px;
    height: 70px;
    position: absolute;
    top: -40px;
  }
  
  .arm-left:before {
    border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
    left: 0;
    background-color: #e3e8eb;
  }
  
  .arm-right:before {
    border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
    right: 0;
    background-color: #fbfdfa;
  }
  
  .arm-left:after,
  .arm-right:after {
    content: "";
    width: 30px;
    height: 10px;
    position: absolute;
    top: -24px;
  }
  
  .arm-left:after {
    background-color: #6e91a4;
    left: 0;
  }
  
  .arm-right:after {
    right: 0;
    background-color: #b6d2e0;
  }
  
  .leg {
    width: 30px;
    height: 40px;
    position: absolute;
    z-index: 2;
    bottom: 70px;
  }
  
  .leg-left {
    left: 76px;
    background-color: #e3e8eb;
    transform: rotate(20deg);
  }
  
  .leg-right {
    right: 73px;
    background-color: #fbfdfa;
    transform: rotate(-20deg);
  }
  
  .leg-left:before,
  .leg-right:before {
    content: "";
    width: 50px;
    height: 25px;
    position: absolute;
    bottom: -26px;
  }
  
  .leg-left:before {
    left: -20px;
    background-color: #e3e8eb;
    border-radius: 30px 0 0 0;
    border-bottom: 10px solid #6d96ac;
  }
  
  .leg-right:before {
    right: -20px;
    background-color: #fbfdfa;
    border-radius: 0 30px 0 0;
    border-bottom: 10px solid #b0cfe4;
  }




  .background-color1 {
    background: linear-gradient(to bottom, #247070, #330867);
}

.background-color2 {
    background: linear-gradient(to bottom, #7a294f, #5c3634);
}

.background-color3 {
    background: linear-gradient(to bottom, #4153a5, #482c64);
}

.background-color4 {
    background: linear-gradient(to bottom,#928b4c , #214e49);
}




footer {
            position: relative;
            width: 100%;
            padding: 20px;
            gap: 8%;
            clip-path: polygon(0 0, 100% 0, 85% 50%, 100% 100%, 0 100%, 15% 50%);
            
        }

        ul {
            list-style-type: none;
            padding: 0;
        }
        
        li {
            padding: 10px;
        }

        a {
            text-decoration: none;
            color: white;
        }



        li a img {
          width: 40px;
          position: absolute;
          margin-top: -15px;
          height: 40px;
      }

      li a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    li a span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 15px;
        font-size: 10px;
        left: 50%;
        transform: translateX(-50%);
    }



  /* redes sociales */

  .card {
    display: flex;
    margin-top: 23px;
    height: 70px;
    width: 170px;
  }
  
  .card svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
  }
  
  .card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .card svg {
    transform: scale(1);
  }
  
  .card .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link2:hover {
    background-color: #00ccff;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link3:hover {
    background-color: #0a499b;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link4:hover {
    background-color: #ff0000;
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }

/* 
  .buttom__paginacion a:nth-child(1) {
    background: linear-gradient(to bottom, #247070, #330867);
}

.buttom__paginacion a:nth-child(2) {
    background: linear-gradient(to bottom, #7a294f, #5c3634);
}

.buttom__paginacion a:nth-child(3) {
    background: linear-gradient(to bottom, #4153a5, #482c64);
}

.buttom__paginacion a:nth-child(4) {
    background: linear-gradient(to bottom, #928b4c, #214e49);
} */
