@import url(variables.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color--five);
    font-family: "Roboto-Regular";
}
body{
    background: linear-gradient(var(--color--one), var(--color--one--rgba));
}
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
*::-webkit-scrollbar-track {
    background-color:  var(--color--five);
}
*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--color--one--rgba);
}

.header__title {
    /* background: red; */
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.main {
    /* background: orange; */
    height: 90vh;
    display: grid;
    grid-template-columns: 1.5fr 6fr 2fr;
    grid-template-areas: "nav__1 main nav__2";
}
.nav__description{
    /* background: red; */
    grid-area: nav__1;
}
.description__item {
    /* background: blue; */
    overflow-y: auto;
    height: 75vh;
}
.description__buttom{
    /* background: #00ff84; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}
.description__container {
    /* background: violet; */
    display: flex;
    gap: 10px;
    margin: 0 var(--layout-description-container-x);
    margin-bottom: var(--layout-description-container-y);
}

.main__section {
    /* background: green; */
    grid-area: main;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2.3fr 5fr 1fr;
    grid-template-areas: 
    "section__header"
    "section__main"
    "section__footer";
}
.section__information__1{
    background: red;
    grid-area: section__header;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    justify-content: space-evenly;
}
.section__information__1 > .carousel__item {
    /* flex: 1; */
    min-width: 24%;
    background-color: purple;
}
.section__information__container{
    background: #d9ff00;
    grid-area: section__main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "colum__1 colum__2 colum__3";
}
.section__information__2{
    background: blue;
    grid-area: colum__1;
    display: grid;
    grid-template-rows: 1fr 1.3fr;
    grid-template-areas: 
    "carusel__colum__1"
    "table__colum__1";
}
.section__information__2 div:first-child{
    background: #d9ff00;
    grid-area: carusel__colum__1;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    justify-content: space-evenly;
}
.section__information__2 div:first-child > .carousel__item {
    /* flex: 1; */
    min-width: 48%;
    background-color: purple;
}
.section__information__2 div:last-child{
    background: darkblue;
    grid-area: table__colum__1;
}
.section__image{
    background: orange;
    grid-area: colum__2;
}
.section__information__3{
    background: violet;
    grid-area: colum__3;
    display: grid;
    grid-template-rows: 1fr 1.3fr;
    grid-template-areas: 
    "carusel__colum__2"
    "table__colum__2";
}
.section__information__3 div:first-child{
    background: #d9ff00;
    grid-area: carusel__colum__2;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    justify-content: space-evenly;
}
.section__information__3 div:first-child > .carousel__item {
    /* flex: 1; */
    min-width: 48%;
    background-color: purple;
}
.section__information__3 div:last-child{
    background: darkblue;
    grid-area: table__colum__2;
}
.footer {
    background: coral;
    grid-area: section__footer;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: ". footer__menu .";
}
.footer ul {
    grid-area: footer__menu;
    /* background: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer ul li{
    list-style: none;
}
.footer ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.nav__information{
    /* background: red; */
    grid-area: nav__2;
}
.information__item {
    /* background: violet; */
    overflow-y: auto;
    height: 75vh;
}
.information__buttom{
    /* background: #00ff84; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}
.information__container {
    /* background: blue; */
    display: flex;
    gap: 5px;
    align-content: center;
    margin: 0 var(--layout-description-container-x);
    margin-bottom: var(--layout-description-container-y);
}
.information__container div:first-child{
    width: 60%;
}
.information__container div:first-child progress{
    width: 100%;
}
.information__container div:last-child {
    /* background: red; */
    width: 40%;
    display: flex;
    align-items: flex-end;
}